@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

@charset "UTF-8";


{% load static%}

@media all
{
	body{
		background-color: #4FCBFF;
		padding-top: 0.1px;
		font-family: 'Ubuntu', sans-serif;
		width: 100%;
		height: 100%;
	}
	.hidden{
		visibility: hidden;
	}
	#menu_bar{
		height: 40px;
		width: 100%;
		margin-left: 1px;
		margin-right: 7px;
		background-color: white;
		border-radius: 10px 10px 0px 0px;
		display: inline-block;
	}
	#menu_title{
		float: left;
		margin-top: -10px;
		margin-left: 20px;
	}
	#menu_redirection{
		margin-left: 65%;
	}
	#menu_redirection_list{
		list-style: none;
		margin-top: -5px;
	}
	#menu_redirection_page{
		display: inline-block;
		float: left;
		margin-left: 20px;
		color: black;
		padding: 1px 8px;
	}
	#main-div{
		background-color: #e6e6e6;
		margin-top: -20px;
		margin-left: 1px;
		margin-right: 7px;
		border-rad8s: 0px 0px 10px 10px;
		width: 100%;
	}
	#page_main_div{
		margin-top: 17px;
		display: inline-block;
		width: 100%;
	}
	#side_menu{
		float: left;
		width: 23%;
		margin-top: -10px;
	}
	#side_menu_div1{
		height: 40px;
		background-color: white;
		border-radius: 3px 3px 0px 0px;
		padding-left: 20px;
	}
	#side_menu_div2{
		background-color: white;
		border-radius: 0px 0px 3px 3px;
		padding-left: 20px;
		margin-top: 1px;
		padding-top: 1px;
	}
	#side_menu_title{
		margin-top: 10px;
		padding-top: 10px;
	}
	#explore_menu{
		margin-left: -40px;
		margin-top: 5px;
		display: grid;
	}
	#explore_menu_link{
		margin-bottom: 10px;
		width: 30%;
		color: white;
	}
	#explore_link_color{
		color: gray;
		text-decoration: none;
	}
	#middle_div{
		float: left;
		width: 50%;
		margin-left: 15px;
		background-color: white;
		border-radius: 3px 3px 3px 3px;
	}
	#social_menu{
		float: right;
		width: 25%;
		margin-left: 10px;
		background-color: white;
		border-radius: 3px 3px 3px 3px;

	}
	#page_white_div{
		background-color: white;
		border-radius: 3px 3px 3px 3px;
		margin-top: -18px;
		padding-left: 40px;
		padding-bottom: 15px;
		text-align: center;
	}
	#connection_page_main_div{
		background-color: white;
		border-radius: 5px 5px 5px 5px;
		margin-top: 100px;
		padding-bottom: 15px;
		margin-bottom: 100px;
		width: 40%;
		text-align: center;
		margin-left: 30%;
	}
	#creation_page_div{
		background-color: white;
		border-radius: 5px 5px 5px 5px;
		margin-top: 30px;
		padding-bottom: 15px;
		margin-bottom: 30px;
		width: 40%;
		text-align: center;
		margin-left: 30%;
	}
	#h3_title{
		padding-top: 15px;
	}
	.bouncy{
		animation:bouncy 10s infinite linear;
		position:relative;
	}
	@keyframes bouncy {
		0%{top:0em}
		40%{top:0em}
		43%{top:-0.9em}
		46%{top:0em}
		48%{top:-0.4em}
		50%{top:0em}
		100%{top:0em;}
	}
	button{
		background-color: #006eff;
		width: 80px;
		height: 30px;
		border: none;
		border-radius: 5px 5px 5px 5px;
		color: white;
	}
	button:hover{
		background-color: red;
	}
	input{
		display: grid;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
	}
	#inline_block{
		display: inline-block;
	}
	#user_label_info_name{
		float: left;
		margin-right: 20px;
	}
	#user_data_info{
		float: right;
	}
	label{
		font-weight: bolder;
	}
	.helptext{
		font-size: xx-small;
	}
	small{
		font-size: 13px;
		color: gray;
	}
	.tooltip {
	  	position: relative;
	  	display: inline-block;
	}

	.tooltip .tooltiptext {
	  	visibility: hidden;
	  	width: 120px;
	  	background-color: #e6e6e6;
	  	color: black;
	  	text-align: center;
	  	border-radius: 6px;
	  	padding: 5px 0;
	  	padding-top: 10px;
	  	font-size: 15px;

	  	/* Position the tooltip */
	  	position: absolute;
	  	z-index: 1;
	}

	.tooltip:hover .tooltiptext {
	  	visibility: visible;
	}
	#link_color{
		color: black;
		text-decoration: none;
	}
	#contact_white_div{
		background-color: white;
		border-radius: 3px 3px 3px 3px;
		margin-top: -18px;
		padding-left: 40px;
		padding-bottom: 15px;
	}
	.container{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 18px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.container:after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: -1;
		filter: blur(50px);
	}
	.contact-box{
		max-width: 	1200px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		text-align: center;
		box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);

	}
	.contact-box-left{
		height: 100%;
		background-size: contain;
	}
	.contact-box-right{
		padding: 25px 40px;
		background-color: #fff;
		border-radius: 0px 3px 3px 0px;
	}
	.contact_title{
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.contact_title:after{
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform:  translateX(-50%);
		height: 4px;
		width: 50;
		border-radius: 2px;
		background-color: #2ecc71;
	}
	.contact_field{
		width: 70%;
		padding: 0.5rem 1rem;
		outline: none;
		border: 2px solid rgba(0, 0, 0, 0.0);
		background-color: rgba(230, 230, 230, 0.6);
		margin-bottom: 22px;
		transition: .3s;
	}
	.contact_field:hover{
		background-color: rgba(0, 0, 0, 0.1);
	}
	.contact_field:focus{
		background-color: #fff;
		border: 2px solid rgba(30, 85, 250, 0.47);
	}
	.area{
		min-height: 150px;
	}
	.contact_btn{
		width: 70%;
		font-size: 1.1rem;
		background-color: #2ecc71;
		cursor: pointer;
		outline: none;
		border: none;
		transition: .3s;
		color: #fff;
		margin-bottom: 10px;
	}
	.contact_btn:hover{
		background-color: #27ae60;
	}
	.container_about{
	width: 80%;
	display: block;
	margin:auto;
	background-color: #ddd;
	}
	.content_section{
		padding-top: 10px;
		float: left;
		width: 55%;
	}
	.image_section{
		float: right;
		width: 40%;
		padding-top: 100px;
	}
	.image_section img{
		width: 100%;
		height: auto;
	}
	.content_section .title{
		text-transform: uppercase;
		font-size: 28px;
	}
	.content_section .content h4{
		color:#5d5d5d;
		font-size: 21px;
	}
	.content_section .content p{
		margin-top: 10px;
		font-family: sans-serif;
		font-size: 18px;
		line-height: 1.5;
	}
	.content_section .social{
		margin: 40px 40px;
		text-align: center;
	}
	.content_section .social i{
		color:#a52a2a;
		font-size: 30px;
		padding:0px 10px;
	}
	.content_section .social i:hover{
		color:#3d3d3d;
	}
	.textarea {
	 	background-color: #dddddd;
		color: #666666;
		padding: 1em;
		margin-bottom: 	15px;
		border-radius: 10px;
		border: 2px solid transparent;
		outline: none;
		font-family: "Heebo", sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.4;
		width: 500px;
		height: 150px;
		transition: all 0.2s;
	}

	.textarea:hover {
		cursor: pointer;
		background-color: #eeeeee;
	}

	.textarea:focus {
		cursor: text;
		color: #333333;
		background-color: white;
		border-color: #333333;
	}


}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 768px){
	.container_about{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
	}
	.content_section{
		float:none;
		width:100%;
		display: block;
		margin:auto;
	}
	.image_section{
		float:none;
		width:100%;
		margin-bottom: 10px;
		
	}
	.image_section img{
		width: 100%;
		height: auto;
		display: block;
		margin:auto;
	}
	.content_section .title{
		text-align: center;
		font-size: 19px;
	}
	.content_section .social{
		text-align: center;
	}
}