@charset "UTF-8";

@media all
{
	body{
		background-color: #4FCBFF;
		padding-top: 0.1px;
		font-family: 'Ubuntu', sans-serif;
	}
	}
	#menu_bar{
		height: 40px;
		width: 100%;
		margin-left: 1px;
		margin-right: 7px;
		padding-left: 20px;
		background-color: white;
		border-radius: 10px 10px 0px 0px;
		display: inline-block;
	}
	#menu_title{
		float: left;
		margin-top: -10px;
	}
	#menu_redirection{
		margin-left: 50%;
	}
	#menu_redirection_list{
		list-style: none;
		margin-top: 1px;
	}
	#menu_redirection_page{
		display: inline-block;
		float: left;
		margin-left: 20px;
	}
	#main-div{
		background-color: #e6e6e6;
		margin-top: -20px;
		margin-left: 1px;
		margin-right: 7px;
		border-radius: 0px 0px 10px 10px;
		width: 1534px;
	}
	#page_main_div{
		margin-top: 17px;
		display: inline-block;
	}
	#side_menu{
		float: left;
		width: 370px;
		margin-top: -10px;
	}
	#side_menu_div1{
		height: 40px;
		background-color: white;
		border-radius: 3px 3px 0px 0px;
		padding-left: 20px;
	}
	#side_menu_div2{
		height: 40px;
		background-color: white;
		border-radius: 0px 0px 3px 3px;
		padding-left: 20px;
		margin-top: 1px;
		padding-top: 1px;
	}
	#side_menu_title{
		margin-top: 10px;
		padding-top: 10px;
	}
	#middle_div{
		float: left;
		width: 700px;
		margin-left: 15px;
		background-color: white;
		border-radius: 3px 3px 3px 3px;
	}
	#social_menu{
		float: left;
		width: 370px;
		margin-left: 15px;
		background-color: white;
		border-radius: 3px 3px 3px 3px;
	}
	#page_white_div{
		background-color: white;
		border-radius: 3px 3px 3px 3px;
		margin-top: -18px;
		padding-left: 40px;
		padding-bottom: 15px;
		width: 1494px;
		text-align: center;
	}
	#h3_title{
		padding-top: 15px;
	}
	.bouncy{
		animation:bouncy 10s infinite linear;
		position:relative;
	}
	@keyframes bouncy {
		0%{top:0em}
		40%{top:0em}
		43%{top:-0.9em}
		46%{top:0em}
		48%{top:-0.4em}
		50%{top:0em}
		100%{top:0em;}
	}
	button{
		background-color: #006eff;
		width: 80px;
		height: 30px;
		border: none;
		border-radius: 5px 5px 5px 5px;
		color: white;
	}
	button:hover{
		background-color: red;
	}
	input{
		display: grid;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
	}
	#inline_block{
		display: inline-block;
	}
	#user_label_info_name{
		float: left;
		margin-right: 20px;
	}
	#user_data_info{
		float: right;
	}
}

@media screen and (max-width: 960px) {
  # {
    
  }
}