{% extends 'base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div id="page_white_div">
				<h3>Ajout de Catégorie</h3>
				<div id="add_cat">
					{% if messages %}
					    {% for message in messages %}
					    	 <p class="align_center  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}warning{% endif %}">
					    		{{ message }}
					    	</p>
					    {% endfor %}
					{% endif %}
					<form method="post">
						{% csrf_token %}
						{{ form.media }}
						{% for field in form %} 
							{{field}} 
						{% endfor %} 
						<button class="button-28" type="submit">Validez</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}