{% extends 'base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div id="page_white_div">
				<div id="white_div">
					<h3>Ajout d'oeuvres</h3>
					{% autoescape off %}
	                    {{ div }}
	                {% endautoescape %}
	                {% if messages %}
					    {% for message in messages %}
					    	 <p class="align_center  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}error{% endif %}">
					    		{{ message }}
					    	</p>
					    {% endfor %}
					{% endif %}
	                <div class="{{ hidden }}">
			            <p>Ajoutez l'oeuvre que vous voulez en respectant les exigeances !</p>
			            <form method="post" enctype="multipart/form-data">
			                {% csrf_token %}
			                <input type="text" name="work_name" class="contact_field" placeholder="Nom de l'Oeuvre">
			                <select name="category" size="1">
			                	<option value="">--Please choose an option--</option>
			                	{% for category in categories %}
			                		<option value="{{ category }}">{{ category }}</option>
			                	{% endfor %}
			                </select>
			                <p>
			                	Cliquez
			                	<a href="{% url 'add_category' %}">ici</a>
			                	pour rajouter une catégorie
			                </p>
                            <p>Vous avez la possibilité de rédiger vous-même un résumé ou bien de récupérer dans la limite du possible un résumé Wikipédia.</p>
                            <p>Faites votre choix:</p>
                            <div id="own_checkbox">
                                <input type="checkbox" id="own" name="own" onclick="choose_own()">
                                <label for="own">Moi-même</label>
                            </div>
                            <div id="wiki_checkbox">
                                <input type="checkbox" id="wiki" name="wiki" onclick="choose_wiki()">
                                <label for="wiki">Wikipédia</label>
                            </div>
                            {{ form_description.media }}
                            {{ form_description.description }}
			                {{ form_image.as_p }}
			                <button class="contact_btn" type="submit">Envoyer</button>
			            </form>
			        </div>
			    </div>
			</div>
		</div>
	</div>

<script type="text/javascript">

$('input[type="checkbox"]').on('change', function() {
   $('input[type="checkbox"]').not(this).prop('checked', false);
});

document.querySelector('[data-field-id=id_description]').style.display = 'none';

function choose_own(){
    if(document.getElementById('own').checked){
        document.querySelector('[data-field-id=id_description]').style.display = 'block';
    } else {
        document.querySelector('[data-field-id=id_description]').style.display = 'none';
    };
};

function choose_wiki(){
    if(document.getElementById('wiki').checked){
        document.querySelector('[data-field-id=id_description]').style.display = 'block';
    } else {
        document.querySelector('[data-field-id=id_description]').style.display = 'none';
    };
};




</script>

{% endblock %}