{% extends 'base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="background_edit_work_div">
			<div id="edit_work_div">
				<form method="post">
					{% csrf_token %}
					<input type="text" name="work_name" class="contact_field" value="{{work.name}}" placeholder="{{work.name}}">
					<select name="category" size="1">
		            	<option value="{{work.category}}">{{ work.category }}</option>
		            	{% for category in categories %}
		            		{% if category != work.category %}
		            			<option value="{{category}}">{{ category }}</option>
		            		{% endif %}
		            	{% endfor %}
		            </select>
		            <div>
		            	<button class="contact_btn" type="submit" value=>Envoyer</button>
		            </div>
		        </form>
			</div>
		</div>
	</div>

{% endblock %}