{% extends 'base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div id="page_white_div">
				<h2>Les Fonctionnalités</h2>
				<p>Cette page a pour but de vous aider à vous orienter à travers les différentes fonctionalitées du site.</p>
                <p>Elles seront définis de manière à vous faire comprendre comment utiliser chaque outils pour répondre à vos besoins.</p>
                <ul class="no_style">
                    <li id="connection_and_account_creation">
                        <hr>
                        <h4>Connexion et Création de compte:</h4>
                        <p>De nombreux outils de cette application sont soumis à une restriction d'authentification.</p>
                        <p>Vous devez donc vous <a href="{% url 'login' %}">connecter</a> à l'aide d'un identifiant et un mot de passe valide.
                        <p>Pour accéder à l'authentification, vous devez créer un <a href="{% url 'create_account'%}">compte</a> en remplissant les données nécessaires.</p>
                    </li>
                    <li>
                        <hr>
                        <h4>Contact et Messagerie:</h4>
                        <p>Si vous rencontrez un soucis lors de la navigation du site, ou bien un problème quelconque, veuillez nous <a href="{% url 'contact' %}">contactez</a> en remplissant un formulaire &#128579;.</p>
                        <p>Afin de discuter avec les autres utilisateurs, utilisez la <a href="">messagerie</a> pour partager vos passions &#128483;.</p>
                    </li>
                    <li>
                        <hr>
                        <h4>Changement de données:</h4>
                        <p>Vous avez perdu votre mot de passe ?</p>
                        <p>Cela reste entre nous &#129296;, mais vous pouvez en créant un autre en suivant ce <a href="{% url 'reset_password' %}">lien</a>.</p>
                        <p>Si vous voulez changer vos <a href="{% url 'edit_account' %}">données personnelles</a>, assurez-vous d'être authentifier, et configurer à votre guise vos données.</p>
                    </li>
                    <li>
                        <hr>
                        <h4>Ajout d'Oeuvre ou Catégorie:</h4>
                        <p>L'essence même de cette application repose sur l'enregistrement d'oeuvre. Pour l'ensemble des instructions décrites ci-dessous, il vous faudra être connecter.</p>
                        <p>Vous avez la possibilité d'ajouter en premier lieu des <a href="{% url 'add_category' %}">catégories</a>.</p>
                        <p>Cependant veuillez vous assurer qu'elles n'existent pas déjà dans la <a href="{% url 'category' %}">base de données</a>.</p>
                        <p>Dès lors que vous avez les informations suffisantes pour ajouter une <a href="{% url 'add_works' %}">oeuvre</a>, remplissez le formulaire avec une photo</p>
                    </li>
                    <li>
                        <hr>
                        <h4>Compléments d'Oeuvres</h4>
                        <p>Depuis la barre-menu, en cliquant sur le logo <i class="fa fa-book"></i> , vous pouvez accèder à vos <a href="{% url 'personal_works' %}">oeuvres personnels</a>, la <a href="#connection_and_account_creation">connexion</a> est encore requise.</p>
                        <p>Sur cette même page, deux bouttons de fonctions et designs différents ont été mise en place pour ajouter une oeuvre, mais aussi accéder à vos favoris.</p>
                    </li>
                </ul>
			</div>
		</div>
	</div>

{% endblock %}
