{% extends 'base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div id="page_white_div">
				<h3 id="h3_title">Mes données personnelles</h3>
				<div>
					<img src="{{ img.image.url }}" height="240" width="240">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="img">Select image:</label>
                        <input type="file" id="img" name="user_img" accept="image/*" hidden/>
                        <input type="submit">
                    </form>
				</div>
				<div id="inline_block">
					<div id="user_label_info_name">
						<p>Nom d'utilisateur :</p>
						<p>Email :</p>
						<p>Prénom :</p>
						<p>Nom de famille :</p>
					</div>
					<div id="user_data_info">
						<p id="username">{{ user.username }}</p>
						<p id="email">{{ user.email }}</p>
						<p id="first_name">{{ user.first_name }}</p>
						<p id="last_name">{{ user.last_name }}</p>
					</div>
				</div>
				{% if user.is_superuser  %}
					<h5>Administrateur</h5>
				{% endif %}
				<div>
					<a href="{% url 'edit_account' %}" id="edit_account">Changez vos informations personnelles</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}