{% extends 'favarche/base.html' %}

{% block content %}
{% load static %}

	<div id="main-div">
		<div id="page_main_div">
			<div id="connection_page_main_div">
				<h2>Renouveler votre mot de passe</h2>
				<p>Vous avez oublié votre mot de passe ? 
				Indiquez votre E-mail ci-dessous et nous allons vous envoyez les instructions par mail afin d'en créer un nouveau</p>
				<form method="post">
				    {% csrf_token %}
				    {{ form.as_p }}
				    <button type="submit">Validez</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}