{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load multifor %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div id="side_menu">
				<div id="side_menu_div1">
					<h4 id="side_menu_title">Explore</h4>
				</div>
				<div id="side_menu_div2">
					<ul id="explore_menu">
						<li id="explore_menu_link" class="tooltip-bottom" data-tooltip="Contactez-nous">
							<a id="explore_link_color" href="{% url 'contact' %}">
								Contact
							</a>
						</li>
						<li id="explore_menu_link" class="tooltip-bottom" data-tooltip="A Propos de Nous">
							<a id="explore_link_color" href="{% url 'about_us' %}">
								A Propos
							</a>
						</li>
						<li id="explore_menu_link" class="tooltip-bottom" data-tooltip="Découvrez quoi faire!">
							<a id="explore_link_color" href="{% url 'functionality' %}">
							 	Fonctionnalités
							</a>
						</li>
						<li id="explore_menu_link" class="tooltip-bottom" data-tooltip="Liste des categories">
							<a id="explore_link_color" href="{% url 'category' %}">
							 	Catégories
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="middle_div">
				{% if works|length == 0 %}
				<div id="work_div_index">
					<h1 id="zero_work">Il n'existe aucune oeuvre pour le moment</h1>
                    <img src="{% static 'img/zero.png' %}" id="zero_img">
                    <p class="align_center">Vous pouvez participer au développement de la communauté en rajoutant une oeuvre!</p>
				</div>
				{% else %}
					{% for work in works; image in user_image; comments in comment_list %}
							<div id="work_div_index">
								<a href="{% url 'other_accounts' work.user.username %}" id="link_color">
									<img  id="user_img" src="{{image.image.url}}">
									<p id="user_name">{{ work.user }}</p>
								</a>
								<p>{{ work.name }}</p>
								<a href="{% url 'work_details' work.name %}">
									<img id="work_img" src="/media/{{ work.image }}">
								</a>
								{% if request.user not in work.liked.all %}
									<button onclick="send_like({{work.id}})"><i class="fa fa-thumbs-up fa-2x"></i></button>
								{% else %}
									<button onclick="send_like({{work.id}})"><i class="fa fa-thumbs-down fa-2x"></i></button>
								{% endif %}
								<p id="like_number">{{work.liked.all.count}} like</p>
                                {% if request.user not in work.fav.all %}
                                    <button id="send_fav" onclick="send_fav({{work.id}})"><i class="far fa-bookmark fa-2x"></i></button>
                                {% else %}
                                    <button id="send_fav" onclick="send_fav({{work.id}})"><i class="fas fa-bookmark fa-2x"></i></button>
                                {% endif %}
								<div>
									{% for comment in comments %}
										<div class="display_inline">
											<p id="comment_user">{{ comment.user }}</p>
											<p id="comment_date">{{ comment.date }}</p>
											<br>
										</div>
										<div id="comment_div">
											<p id="comment_content">{{ comment.content }}<p>
											{% if comment.user == request.user%}
											<button id="dlt_btn{{comment.id}}" onclick="send_comment_id({{comment.id}})"><i class="fa fa-trash fa-2x"></i></button>
											{% endif %}
											<br>
										</div>
									{% endfor %}
								</div>
								{% if request.user.is_authenticated %}
									<div id="comment_form">
										<textarea placeholder="Commentez-ici" id="comment{{work.id}}" class="comment_textarea"></textarea>
										<button id="btn_comment{{work.id}}" type="submit" class="button-28" onclick="send_comment_data({{work.id}})">Validez</button>
									</div>
								{% else %}
									<p class="align_center">Vous devez vous connecter pour écrire un commentaire</p>
								{% endif %}
							</div>
							{% ifequal forloop.counter|divisibleby:"1" True %}
								<br>
							{% endifequal %}
						{% endfor %}
				{% endif %}
			</div>
			<div id="social_menu">
                {% if users|length < 2 %}
                <p>vous êtes le seul utilisateur de cette application..</p>
                <p>Ramenez aussi vos amis!</p>
                {% else %}
    				{% for user_account in users; img in social_user_img %}
    					<div id="social_user_div">
    						{% if user_account.username != user.username %}
    							<p>
    								<a href="{% url 'other_accounts' user_account.username %}" id="link_color">
    									<img id="social_user_img" src="{{img.image.url}}">
    									{{ user_account.username }}
    								</a>
    							</p>
    						{% endif %}
    					</div>
    				{% endfor %}
                {% endif %}
			</div>
		</div>
	</div>

<script type="text/javascript">

	function getCookie(name) {
	    let cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        const cookies = document.cookie.split(';');
	        for (let i = 0; i < cookies.length; i++) {
	            const cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	function send_comment_data(work_id){

			var comment = document.getElementById("comment" + work_id);
			
            var work_data = {
                "work_id": work_id,
                "comment": comment.value
            };

             $.ajax({
                url: "{% url 'home' %}",
                type: "POST",
                data: work_data,
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                success: function(data){
                    if (data == "OK"){
                    	document. location.reload();
                    	document.getElementById("comment" + work_id).value = "";
                    } else{
                        console.log("");
                    }}
                
            })

        }

    function send_comment_id(comment_id){
			
        var comment_data = {
            "comment_id": comment_id,
        };

         $.ajax({
            url: "{% url 'delete_comment' %}",
            type: "POST",
            data: comment_data,
            headers: {'X-CSRFToken': getCookie('csrftoken')},
            success: function(data){
                if (data == "OK"){
                	document. location.reload();
                } else{
                    console.log("");
                }}
            
        })

    }

    function send_like(work_id){
			
        var data = {
            "work_id": work_id,
        };

         $.ajax({
            url: "{% url 'Like' %}",
            type: "POST",
            data: data,
            headers: {'X-CSRFToken': getCookie('csrftoken')},
            success: function(data){
                if (data == "OK"){
                	document. location.reload();
                } else{
                    console.log("");
                }}
            
        })

    }

    function send_fav(work_id){

        var button_value = document.getElementById("send_fav").innerHTML;

        if(button_value == '<i class="far fa-bookmark fa-2x" aria-hidden="true"></i>'){
            document.getElementById("send_fav").innerHTML = '<i class="fas fa-bookmark fa-2x" aria-hidden="true"></i>';
            var data = {
                "to_do": "create",
                "work_id": work_id,
            };
        }else{
            document.getElementById("send_fav").innerHTML = '<i class="far fa-bookmark fa-2x" aria-hidden="true">';
            var data = {
                "work_id": work_id,
                "to_do": "delete",
            };
        };

        $.ajax({
            url: "{% url 'fav_works' %}",
            type: "POST",
            data: data,
            headers: {'X-CSRFToken': getCookie('csrftoken')},
        });

    }

</script>

{% endblock %}
