{% extends 'favarche/base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div id="page_white_div">
				<h3>Ajout d'oeuvres</h3>
				{% autoescape off %}
                    {{ div }}
                {% endautoescape %}
                <div class="{{ hidden }}">
		            <p>Ajoutez l'oeuvre que vous voulez en respectant les exigeances !</p>
		            <form method="post" enctype="multipart/form-data">
		                {% csrf_token %}
		                <input type="text" name="work_name" class="contact_field" placeholder="Nom de l'Oeuvre">
		                <select>
		                {{ form.as_p }}
		                <button class="contact_btn" type="submit">Envoyer</button>
		            </form>
		            {% if img_obj %}
		                <h3>Succesfully uploaded : {{img_obj.title}}</h3>
		                <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
		            {% endif %}
		        </div>
			</div>
		</div>
	</div>

{% endblock %}