<!DOCTYPE html>
<html>
	<head>
		<-- -->
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Favarche</title>
		<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<!--font-awesome icons-->
        <script src="https://kit.fontawesome.com/f8d69e7ea4.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
		<div id="menu_bar">
			<div id="menu_title">
				<h3>My website</h3>
			</div>
			<div id="menu_redirection">
				<ul id="menu_redirection_list">
					{% if request.get_full_path != '/' %}
						<li id="menu_redirection_page" class="tooltip-bottom" data-tooltip="Vers l'Acceuil">
							<a class="nav-link" href="{% url 'home' %}">
								<i class="fas fa-home"></i>
							</a>
						</li>
					{% endif %}
					{% if user.is_authenticated %}
						<li id="menu_redirection_page" class="tooltip-bottom" data-tooltip="Déconnexion">
							<a class="nav-link" href="{% url 'logout' %}">
								<i class="fas fa-sign-out-alt"></i>
							</a>
						</li>
						{% if request.get_full_path != '/mon_compte/' %}
							<li id="menu_redirection_page" class="tooltip-bottom" data-tooltip="Votre Compte">
								<a class="nav-link" href="{% url 'my_account' %}">
									<i class="fas fa-user"></i>
								</a>
							</li>
						{% endif %}
						{% if request.get_full_path != '/my_works/' %}
						<li id="menu_redirection_page" class="tooltip-bottom" data-tooltip="Vos Oeuvres">
							<a class="nav-link" href="{% url 'personal_works' %}">
								<i class="fas fa-book"></i>
							</a>
						</li>
						{% endif %}
					{% elif request.get_full_path != '/login/' %}
						<li id="menu_redirection_page" class="tooltip-bottom" data-tooltip="Connexion">
							<a href="{% url 'login' %}">
								<i class="fas fa-sign-in-alt"></i>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</head>
	<body>
		{% block content %} {% endblock %}
		<script src="{% static 'js/scripts.js' %}"></script>
	</body>
</html>