<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Favarche</title>
		<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
		<div id="menu_bar">
			<h3 id="menu_title">My website</h2>
			<ul id="menu_redirection">
				<li id="menu_redirection_page">
					<a class="nav-link" href="{% url 'login' %}">login</a>
				</li>
				<li id="menu_redirection_page">
					<a class="nav-link" href="{% url 'create_account' %}">create an account</a>
				</li>
			</ul>
		</div>
	</head>
	<body>
		<div id="main-div">
			{% block content %} {% endblock %}
		</div>
	</body>
</html>