{% extends 'favarche/base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div id="side_menu">
				<div id="side_menu_div1">
					<h4 id="side_menu_title">Explore</h4>
				</div>
				<div id="side_menu_div2">
					<ul id="explore_menu">
						<li id="explore_menu_link" class="tooltip-bottom" data-tooltip="Contactez-nous">
							<a id="explore_link_color" href="{% url 'contact' %}">
								Contact
							</a>
						</li>
						<li id="explore_menu_link" class="tooltip-bottom" data-tooltip="A Propos de Nous">
							<a id="explore_link_color" href="{% url 'about_us' %}">
								A Propos
							</a>
						</li>
						<li id="explore_menu_link" class="tooltip-bottom" data-tooltip="Découvrez quoi faire!">
							<a id="explore_link_color" href="{% url 'functionality' %}">
							 	Fonctionnalités
							</a>
						</li>
						<li id="explore_menu_link" class="tooltip-bottom" data-tooltip="Liste des categories">
							<a id="explore_link_color" href="{% url 'category' %}">
							 	Catégories
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="middle_div">
				{% if works|length == 0 %}
				<div id="work_div_index">
					<h1>Il n'existe aucune oeuvre pour le moment</h1>
				</div>
				{% else %}
					{% for work in works %}
							<div id="work_div_index">
								<p>{{ work.user }}</p>
								<p>{{ work.name }}</p>
								<a href="{% url 'work_details' work.name %}">
									<img src="/media/{{ work.image }}">
								</a>
							</div>
							{% ifequal forloop.counter|divisibleby:"1" True %}
								<br>
							{% endifequal %}
					{% endfor %}
				{% endif %}
			</div>
			<div id="social_menu">ihsan</div>
		</div>
	</div>

{% endblock %}
