{% extends 'favarche/base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div id="side_menu">
				<div id="side_menu_div1">
					<h4 id="side_menu_title">Explore</h4>
				</div>
				<div id="side_menu_div2">
					<ul id="explore_menu">
						<li id="explore_menu_link" class="tooltip">
							<a id="link_color" href="{% url 'contact' %}">
								Contact<span class="tooltiptext">Contactez-nous</span>
							</a>
						</li>
						<li id="explore_menu_link" class="tooltip">
							<a id="link_color" href="{% url 'about_us' %}">
								A Propos<span class="tooltiptext">Nous connaître</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="middle_div">ihsan</div>
			<div id="social_menu">ihsan</div>
		</div>
	</div>

{% endblock %}
