{% extends 'favarche/base.html' %}

{% block content %}
{% load static %}
	
	<div id="page_main_div">
		<div id="page_white_div">
			<h3 id="h3_title">Mes données personnelles</h3>
			<div id="inline_block">
				<div id="user_label_info_name">
					<p>Nom d'utilisateur :</p>
					<p>Prénom :</p>
					<p>Nom de famille :</p>
					<p>Email :</p>
					
				</div>
				<div id="user_data_info">
					<p>{{ user.username }}</p>
					<p>{{ user.first_name }}</p>
					<p>{{ user.last_name }}</p>
					<p>{{ user.email }}</p>
				</div>
			</div>
			<div>
				<a href="{% url 'edit_account' %}">Changez vos informations personnelles</a>
			</div>
		</div>
	</div>

{% endblock %}