{% extends 'base.html' %}

{% block content %}
{% load static %}
	
	<div id="main-div">
		<div id="page_main_div">
			<div class="container_about">
				<div class="content_section">
					<div class="title">
						<h1>A Propos</h1>
					</div>
					<div class="content">
						<h4>Apprendre à se connaître est un premier pas vers le début d'une nouvelle histoire !</h4>
						<p>Peu d'expérience à décliner mais beaucoup de curiosité à déplorer. Je suis débutant dans un long apprentissage sur le domaine de l'informatique. Ce site est ma première expérience solitaire en programmation.</p>
						<h4>Archiver c'est laisser une empreinte dans l'histoire !</h4>
						<p>L'idéé derrière ce site est une volonté d'avoir la possibilité de retrouver ses souvenirs. On vit dans une époque où le monde autour de nous est bien plus rapide que le temps présent. Facilemet sensible à ce qui nous entour, les oeuvres de tout genre se doivent d'être sauvegarder dans une mémoire. Donner le libre arbitre des choix aux personnes enrichit toute idée. Voilà ce qu'est Fav.Arche. !</p>
					</div>
					<div class="social">
						<a href="https://twitter.com/alp_sahih" target="_blank" class="tooltip-bottom" data-tooltip="Vers notre Twitter">
							<i class="fab fa-twitter"></i>
						</a>
					</div>
				</div>
				<div class="image_section">
					<img src="{% static 'img/about_us.jpg' %}">
				</div>
			</div>
		</div>
	</div>

{% endblock %}